@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(24, 24, 24);
}

::-webkit-scrollbar-thumb {
    background: #a30507;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a10507c9;
}


body {
    background-color: rgb(24, 24, 24);
    overflow-x: hidden;
}

header {
    display: flex;
    margin-left: 5vw;
}

header .logo {
    position: relative;
    width: 20vw;
    margin-right: 35vw;
}

header a {
    font-size: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vw;
    color: white;
    font-family: 'Great Vibes', cursive;
}

.projects {
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    color: white;
}

.projects h2 {
    margin-bottom: 3vw;
    text-align: center;
    font-size: 5vw;
    font-family: 'Great Vibes', cursive;
}

.projects .main_pictures {
    width: 44.5vw;
    transition: all 0.5s;
    box-shadow: 0px 0px 1vh rgb(255, 255, 255);
}

.projects .main_pictures:hover{
    scale: 1.05;
    transition: all 0.5s;
}

.projects .casino {
    margin-bottom: 3vw;
    display: flex;
    animation: arrived_left 2s;
}

.projects .casino p {
    font-size: 1vw;
    font-family: 'Fredoka One', cursive;
    margin: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    animation: text_appear 4s;
}

.projects .workshop1 {
    margin-bottom: 3vw;
    display: flex;
    animation: arrived_rigth 2s;
}

.projects .workshop1 p {
    font-size: 1vw;
    font-family: 'Fredoka One', cursive;
    margin: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    animation: text_appear 4s;
}

@keyframes arrived_left {
    from{
        margin-left: -60vw;
    }
    to{
        margin-left: 0vw;
    }
}

@keyframes arrived_rigth {
    from{
        margin-right: -60vw;
    }
    to{
        margin-right: 0vw;
    }
}

@keyframes text_appear {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}