@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(24, 24, 24);
}

::-webkit-scrollbar-thumb {
    background: #a30507;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a10507c9;
}


body {
    background-color: rgb(24, 24, 24);
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
}

header .logo {
    margin: 0.5vw;
    margin-left: 4.5vw;
    position: relative;
    width: 5vw;
}

header .first_link {
    margin-left: 55vw;
}

header a {
    font-size: 1.5vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vw;
    color: white;
    font-family: 'Abril Fatface', cursive;
    transition: all 0.5s;
}

header a:hover {
    color: #a30507;
    transition: all 0.5s;
}

.projects {
    margin-top: 4vw;
    margin-left: 5vw;
    margin-right: 5vw;
    color: white;
}

.projects h2 {
    margin-bottom: 3vw;
    text-align: center;
    font-size: 4vw;
    font-family: 'Abril Fatface', cursive;
}

.projects .main_pictures {
    width: 44.5vw;
    transition: all 0.5s;
    box-shadow: 0px 0px 1vh rgb(255, 255, 255);
    filter: blur(0.5px)
}

.projects .main_pictures:hover {
    scale: 1.02;
    filter: blur(0px);
    transition: all 0.5s;
}

.projects .casino {
    margin-bottom: 3vw;
    display: flex;
    animation: arrived_left 2s;
}

.projects .casino p {
    font-size: 1vw;
    margin: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    animation: text_appear 4s;
    font-family: 'Poppins', sans-serif;
}

.projects .workshop1 {
    margin-bottom: 3vw;
    display: flex;
    animation: arrived_rigth 2s;
}

.projects .workshop1 p {
    font-size: 1vw;
    margin: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    animation: text_appear 4s;
    font-family: 'Poppins', sans-serif;
}

.projects .valorant {
    margin-bottom: 3vw;
    display: flex;
    animation: arrived_left 2s;
}

.projects .valorant p {
    font-size: 1vw;
    margin: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    animation: text_appear 4s;
    font-family: 'Poppins', sans-serif;
}

.projects button {
    cursor: pointer;
    justify-content: center;
    background-color: transparent;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 3vw;
    border-radius: 20px;
    border-color: white;
    transition: all 0.5s;
}

.projects button:hover {
    scale: 1.05;
    transition: all 0.5s;
}

.quisuisje h1 {
    margin: 1vw;
    font-size: 4vw;
    color: white;
    font-family: 'Abril Fatface', cursive;
}

.quisuisje h2 {
    margin: 0.5vw;
    margin-left: 1vw;
    margin-bottom: 3vw;
    font-size: 2vw;
    color: white;
    font-family: 'Poppins', sans-serif
}

.quisuisje p {
    margin-left: 1vw;
    margin-bottom: 3vw;
    font-size: 1.2vw;
    color: white;
    font-family: 'Poppins', sans-serif
}

.quisuisje .instagram {
    width: 5vw;
}

.quisuisje .linkedin {
    width: 5vw;
}

.quisuisje .email {
    width: 5vw;
}


@keyframes arrived_left {
    from {
        margin-left: -60vw;
    }

    to {
        margin-left: 0vw;
    }
}

@keyframes arrived_rigth {
    from {
        margin-right: -60vw;
    }

    to {
        margin-right: 0vw;
    }
}

@keyframes text_appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (orientation:portrait) {
    body{
        overflow-x: hidden;
    }

    header {
        display: flex;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    header .logo {
        margin: 0.5vw;
        margin-left: 4.5vw;
        position: relative;
        width: 15vw;
    }
    
    header .first_link {
        margin-left: 10vw;
    }
    
    header a {
        font-size: 4vw;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 2vw;
        color: white;
        font-family: 'Abril Fatface', cursive;
        transition: all 0.5s;
    }
    
    header a:hover {
        color: #a30507;
        transition: all 0.5s;
    }
    
    .projects {
        margin-top: 4vw;
        margin-left: 5vw;
        margin-right: 5vw;
        color: white;
    }
    
    .projects h2 {
        margin-bottom: 5vw;
        text-align: center;
        font-size: 6vw;
        font-family: 'Abril Fatface', cursive;
    }
    
    .projects .main_pictures {
        width: 90.5vw;
        transition: all 0.5s;
        box-shadow: 0px 0px 1vh rgb(255, 255, 255);
        filter: blur(0.5px);
    }
    
    .projects .main_pictures:hover {
        scale: 1.02;
        filter: blur(0px);
        transition: all 0.5s;
    }
    
    .projects .casino {
        margin-bottom: 3vw;
        display: flex;
        flex-direction: column;
        animation: arrived_left 3s;
    }
    
    .projects .casino p {
        max-width: 90.5vw;
        font-size: 3vw;
        margin: 2vw;
        margin-top: 2vw;
        margin-bottom: auto;
        text-align: center;
        animation: text_appear 5s;
        font-family: 'Poppins', sans-serif;
    }
    
    .projects .workshop1 {
        margin-bottom: 3vw;
        display: flex;
        flex-direction: column-reverse;
        animation: arrived_left 3s;
    }
    
    .projects .workshop1 p {
        max-width: 90.5vw;
        font-size: 3vw;
        margin: 2vw;
        margin-top: 2vw;
        margin-bottom: auto;
        text-align: center;
        animation: text_appear 5s;
        font-family: 'Poppins', sans-serif;
    }
    
    .projects .valorant {
        margin-bottom: 3vw;
        display: flex;
        flex-direction: column;
        animation: arrived_left 3s;
    }
    
    .projects .valorant p {
        max-width: 90.5vw;
        font-size: 3vw;
        margin: 2vw;
        margin-top: 2vw;
        margin-bottom: auto;
        text-align: center;
        animation: text_appear 5s;
        font-family: 'Poppins', sans-serif;
    }
    
    .projects button {
        cursor: pointer;
        justify-content: center;
        background-color: transparent;
        font-size: 3vw;
        font-family: 'Poppins', sans-serif;
        color: white;
        margin-top: 3vw;
        border-radius: 20px;
        border-color: white;
        transition: all 0.5s;
    }
    
    .projects button:hover {
        scale: 1.05;
        transition: all 0.5s;
    }
    
    .quisuisje h1 {
        margin: 1vw;
        font-size: 4vw;
        color: white;
        font-family: 'Abril Fatface', cursive;
    }
    
    .quisuisje h2 {
        margin: 0.5vw;
        margin-left: 1vw;
        margin-bottom: 3vw;
        font-size: 2vw;
        color: white;
        font-family: 'Poppins', sans-serif
    }
    
    .quisuisje p {
        margin-left: 1vw;
        margin-bottom: 3vw;
        font-size: 1.2vw;
        color: white;
        font-family: 'Poppins', sans-serif
    }
    
    .quisuisje .instagram {
        width: 5vw;
    }
    
    .quisuisje .linkedin {
        width: 5vw;
    }
    
    .quisuisje .email {
        width: 5vw;
    }

    @keyframes arrived_left {
        from {
            margin-left: -100vw;
        }
    
        to {
            margin-left: 0vw;
        }
    }
}