@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(24, 24, 24);
}

::-webkit-scrollbar-thumb {
    background: #a30507;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a10507c9;
}

body {
    background-color: rgb(24, 24, 24);
}

header {
    display: flex;
    background-color: rgba(0,0,0,0.3);
}

header .logo {
    margin: 0.5vw;
    margin-left: 4.5vw;
    position: relative;
    width: 5vw;
}

header .first_link{
    margin-left: 55vw;
}

header a {
    font-size: 1.5vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vw;
    color: white;
    font-family: 'Abril Fatface', cursive;
    transition: all 0.5s;
}

header a:hover {
    color: #a30507;
    transition: all 0.5s;
}

.project {
    margin-top: 6vw;
    margin-left: 5vw;
    margin-right: 5vw;
    color: white;
}

.project h1 {
    margin-bottom: 2vw;
    text-align: center;
    font-size: 6vw;
    font-family: 'Abril Fatface', cursive;
}

.project .main_picture {
    width: 100%;
}

.project .informations {
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
}

.informations p {
    margin: auto;
}

.brief {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    border: 0.2vw solid white;
    padding: 2vw;
}

.brief h2 {
    margin-bottom: 2vw;
    text-align: center;
    font-size: 4vw;
    font-family: 'Abril Fatface', cursive;
}

.brief h3 {
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
}

.brief .text_game {
    display: flex;
}

.text_game p {
    margin: 1vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
}

.galery .images {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vw;
}

.galery h2 {
    margin-bottom: 2vw;
    text-align: center;
    font-size: 4vw;
    font-family: 'Abril Fatface', cursive;
}

.images img {
    width: 27.8vw;
    margin: 1vw;
}

.imgs p{
    text-align: center;
    font-size: 0.6vw;
    font-family: 'Poppins', sans-serif;
}

.help{
    margin-bottom: 2vw;
    text-align: center;
    font-size: 1vw;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.other {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
}

.other h2{
    margin-bottom: 2vw;
    text-align: center;
    font-size: 4vw;
    color: white;
    font-family: 'Abril Fatface', cursive;
}

.other .other_projects {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.other_projects img{
    width: 27.8vw;
    margin: 1vw;
    transition: all 0.5s;
    box-shadow: 0px 0px 1vh rgb(255, 255, 255);
}

.other_projects img:hover{  
    scale: 1.05;
    transition: all 0.5s;
}


@media screen and (orientation:portrait) {
    body{
        overflow-x: hidden;
    }

    header {
        display: flex;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    header .logo {
        margin: 0.5vw;
        margin-left: 4.5vw;
        position: relative;
        width: 15vw;
    }
    
    header .first_link {
        margin-left: 10vw;
    }
    
    header a {
        font-size: 4vw;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 2vw;
        color: white;
        font-family: 'Abril Fatface', cursive;
        transition: all 0.5s;
    }
    
    header a:hover {
        color: #a30507;
        transition: all 0.5s;
    }
    
    .project {
        margin-top: 6vw;
        margin-left: 5vw;
        margin-right: 5vw;
        color: white;
    }
    
    .project h1 {
        margin-bottom: 2vw;
        text-align: center;
        font-size: 7vw;
        font-family: 'Abril Fatface', cursive;
    }
    
    .project .main_picture {
        width: 100%;
    }
    
    .project .informations {
        margin-top: 5vw;
        margin-bottom: 5vw;
        display: flex;
        flex-direction: column;
        font-size: 3.5vw;
        font-family: 'Poppins', sans-serif;
    }
    
    .informations p {
        margin: auto;
        margin-bottom: 2vw;
    }
    
    .brief {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 5vw;
        border: 0.2vw solid white;
        padding: 2vw;
    }
    
    .brief h2 {
        margin-bottom: 2vw;
        text-align: center;
        font-size: 6vw;
        font-family: 'Abril Fatface', cursive;
    }
    
    .brief h3 {
        text-align: center;
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 2.5vw;
        font-family: 'Poppins', sans-serif;
    }
    
    .brief .text_game {
        display: flex;
        flex-direction: column;
    }
    
    .text_game p {
        margin: 1vw;
        text-align: center;
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 2vw;
        font-family: 'Poppins', sans-serif;
    }
    
    .galery .images {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5vw;
    }
    
    .galery h2 {
        margin-bottom: 2vw;
        text-align: center;
        font-size: 6vw;
        font-family: 'Abril Fatface', cursive;
    }
    
    .images img {
        width: 37.8vw;
        margin: 1vw;
    }
    
    .imgs p{
        text-align: center;
        font-size: 1.1vw;
        font-family: 'Poppins', sans-serif;
    }
    
    .help{
        margin-bottom: 2vw;
        text-align: center;
        font-size: 2vw;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    
    .other {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 5vw;
    }
    
    .other h2{
        margin-bottom: 2vw;
        text-align: center;
        font-size: 5vw;
        color: white;
        font-family: 'Abril Fatface', cursive;
    }
    
    .other .other_projects {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    
    .other_projects img{
        width: 37.8vw;
        margin: 1vw;
        transition: all 0.5s;
        box-shadow: 0px 0px 0.5vh rgb(255, 255, 255);
    }
    
    .other_projects img:hover{  
        scale: 1.05;
        transition: all 0.5s;
    }
}